ion-view.eon-live(view-title="Flux" hide-back-button="!anonymous")
    ion-nav-buttons(side="left")
        button.button-clear(ng-click="toggleUserMenu()" ng-if="!anonymous") Menu
    ion-side-menus
        ion-side-menu(side="left")
            ion-content(scroll="false")
                header
                    p.user @{{user.username}}
                    div.article-meter-ct
                        meter(max="{{stats.total}}" value="{{stats.read}}")
                        span.stats-read {{stats.read}} lu{{stats.read > 1 ? 's' : ''}}
                        span.stats-total {{stats.total}} article{{stats.total > 1 ? 's' : ''}}
                h2.title Catégories
                .list.tags
                    ion-checkbox(
                        ng-repeat="tag in tags"
                        ng-model="tagChecked[tag._id]"
                        class='{{tag.style}}') {{tag.text}}
            ion-footer-bar.bar-assertive
                h1.title &nbsp;
                .buttons
                    button.button(ng-click="logout()" menu-close) Se déconnecter
        ion-side-menu-content
            ion-content
                ion-refresher(on-refresh="refreshList()")
                .news-indicator(ng-show="unloadedPostsCount > 0")
                    .ion-arrow-down-c
                    span {{unloadedPostsCount}} {{unloadedPostsCount > 1 ? "nouveaux articles" : "nouvel article"}}
                    .ion-arrow-down-c
                ion-list.articles
                    ion-item.item-icon-right(
                            ng-repeat='post in posts'
                            ui-sref="article({id: post._id})"
                            ng-class="{unread: !isRead(post), updated: isUpdated(post)}"
                        )
                        .read-indicator
                        .date {{post.date|date}}
                        h2 {{post.title}}
                        p.abstract {{post|abstract}}
                        div.tag-pills
                            div.button.button-small.button-outline(
                                ng-repeat="tag in post.tags"
                                class='button-{{tag.style}}') {{tag.text}}
                        i.icon.ion-ios-arrow-right.item-icon
